@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root {
  --font-poppins: "Avenir Next", "Segoe UI", "Helvetica Neue", Helvetica,
    Arial, "Noto Sans", sans-serif;
}

body {
  font-family: var(--font-poppins), sans-serif;
}

/* Hide audio controls download button */
audio::-webkit-media-controls-enclosure {
  overflow: hidden;
}
audio::-internal-media-controls-download-button {
  display: none;
}
audio::-webkit-media-controls-panel {
  width: calc(100% + 30px);
}
